In [5]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({
    "price": [13495, 16500, 18920, 41315, 5151, 6295]
})

In [12]:
bins = np.linspace(min(df['price']), max(df['price']), 4)

In [13]:
bins

array([ 5151.        , 17205.66666667, 29260.33333333, 41315.        ])

In [14]:
group_names = ["Low", "Medium", "High"]

In [15]:
df["price-binned"] = pd.cut(
  df["price"],
    bins,
    labels=group_names,
    include_lowest=True
)

In [16]:
df

   price price-binned
0  13495          Low
1  16500          Low
2  18920       Medium
3  41315         High
4   5151          Low
5   6295          Low

One-hot encoding

In [18]:
df = pd.DataFrame({
    "fuel": [
        "gas", "diesel", "gas", "gas"
    ]
})

In [19]:
df

     fuel
0     gas
1  diesel
2     gas
3     gas

In [20]:
pd.get_dummies(df["fuel"])

   diesel  gas
0       0    1
1       1    0
2       0    1
3       0    1