In [1]:
import pandas
pandas.__version__

'1.2.2'

In [2]:
import pandas as pd

In [3]:
pd?

In [4]:
import numpy as np
import pandas as pd

## Series

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [10]:
data[2]

0.75

In [11]:
data[3]

1.0

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [13]:
data = pd.Series([0,25, 0.5, 1.0],
                index=['a', 'b', 'c', 'd'])

In [14]:
data

a     0.0
b    25.0
c     0.5
d     1.0
dtype: float64

In [15]:
data['b']

25.0

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])

In [18]:
data[5]

0.5

In [25]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [26]:
population['California']

38332521

In [27]:
population['California': 'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [28]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [29]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [30]:
pd.Series({ 2: 'a', 1: 'b', 3: 'c' })

2    a
1    b
3    c
dtype: object

## DataFrame

In [32]:
area_dict = {
    'California': 423967,
    'Texas': 695662,
    'New York': 141297,
    'Forida': 170312,
    'Illinois': 149995
}
area = pd.Series(area_dict)

In [33]:
states = pd.DataFrame({'population': population, 'area': area})

In [35]:
states

            population      area
California  38332521.0  423967.0
Florida     19552860.0       NaN
Forida             NaN  170312.0
Illinois    12882135.0  149995.0
New York    19651127.0  141297.0
Texas       26448193.0  695662.0

In [36]:
states.index

Index(['California', 'Florida', 'Forida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [39]:
states.columns

Index(['population', 'area'], dtype='object')

In [42]:
states['area']

California    423967.0
Florida            NaN
Forida        170312.0
Illinois      149995.0
New York      141297.0
Texas         695662.0
Name: area, dtype: float64

In [46]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [47]:
data = [{'a': i, 'b': 2 * i}
       for i in range(3)]

In [48]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [49]:
pd.DataFrame([
    {'a': 1, 'b': 2},
    {'b': 3, 'c': 4}
])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [50]:
pd.DataFrame({'population': population,
             'area': area})

            population      area
California  38332521.0  423967.0
Florida     19552860.0       NaN
Forida             NaN  170312.0
Illinois    12882135.0  149995.0
New York    19651127.0  141297.0
Texas       26448193.0  695662.0

In [51]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.578416  0.779958
b  0.425200  0.914245
c  0.493009  0.766634

In [53]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [56]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Index

In [58]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [59]:
ind[1]

3

In [60]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [61]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [62]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [63]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB

<ipython-input-63-0e30a606df0b>:3: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [64]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [65]:
indA | indB

<ipython-input-65-2c4bfb638f37>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [66]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [67]:
indA ^ indB

<ipython-input-67-3946b5999e74>:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [69]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')